@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import "resetcss.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: #2f363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
