#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.friends-display-link-space {
  display: flex;
  height: 110px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}
