.screen-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px 25px 25px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin-top: 26px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
  color: #191919;
}

.screen-header__icons span {
  margin-left: 30px;
}
