.screen-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px 25px 25px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin-top: 26px;
  z-index: 1;
}

.screen-header-space-top {
  display: flex;
  height: 120px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
  color: #191919;
}

.screen-header__icons span {
  margin-left: 30px;
}

.screen-header__icons--notice {
  position: relative;
}

.screen__header__icons__not {
  background-color: tomato;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  right: 0px;
}

.screen__header__icons__not--top {
  top: -10px;
  right: -10px;
}

.screen-header__icons .fa-cog {
  animation: rotateCog 3s ease-in-out infinite;
}

@keyframes rotateCog {
  from {
    transform: none;
  }

  to {
    transform: rotateZ(360deg);
  }
}
