/*바로 아래꺼 밑에거랑 합쳐도 괜찮다 user-component,user-component__column {~~} 이렇게 쓰면 합쳐짐 */
.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__column__right {
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 43%;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 700;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__subtitle i {
  color: tomato;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
}

.user-component__time {
  margin-bottom: 10px;
}
